body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h1, h2 {
    color: #007bff;
}

ul {
    list-style-type: circle;
    padding: 0;
    color: black;
    text-align: left;
}
